*{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: none;
    margin: none;
    /* border: red 1px solid; */
}
body {
    background-color: #2C2C2C;
}

header {
    background-color: #f2f2f2;
    padding: 10px 20px;
    justify-content: space-between;
}

.jumbotron {
    
    background-color: #f2f2f2;
    height: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.jumbotron__profilepic {
    position: absolute;
    height: 450px;
    top: 25px;
    left: 200px;
    box-shadow: 1px 1px 10px black;
}
.jumbotron__blackbox {
    width: 600px;       
    height: 500px;         
    background: #3A393B;
}

.jumbotron__h2{
    z-index: 10;
    font-family: "Sen";
    font-weight: 600;
    font-size: 60pt;
    position: absolute;
    left: 700px;
    top: 50px;
}

.jumbotron__h1{
    z-index: 10;
    font-family: "Sen";
    font-weight: 600;
    font-size: 80pt;
    position: absolute;
    left: 700px;
    top: 100px;
}

.jumbotron__h3{
    z-index: 10;
    font-family: "Sen";
    font-weight: 600;
    font-size: 65pt;
    position: absolute;
    left: 700px;
    top: 220px;
    opacity: 0.5;
}
.jumbotron__p{
    z-index: 10;
    font-family: "Sen";
    font-weight: 400;
    font-size: 12pt;
    position: absolute;
    left: 700px;
    top: 380px;
    max-width: 800px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px; 
}

.logo img {
    width: 20%;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    max-width: 1024px;
}

nav ul li {
    float: left;
    
}

nav ul li:last-child {
    margin-right: 1rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    padding: 14px 16px;
}

nav ul li a:hover {
    color: #DB3910;
}

.hire-me button {
    background-color: #DB3910;
    color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.3s ease;
    border-radius: 5px;
}

.hire-me button:hover {
    background-color: #f2f2f2;
    color: #DB3910;
}

.sen-text {
    font-family: 'Sen', sans-serif;
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: Apple, "Sen";
    src: url("/assets/SFPRODISPLAYREGULAR.OTF");

}

